<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="2.4.6" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="Realm" version="3.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Realm.Database" version="3.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Realm.DataBinding" version="1.2.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Licensing" version="16.2.0.41" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Xamarin.Core" version="16.2.0.41" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Xamarin.SfChart" version="16.2.0.41" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Xamarin.SfPicker" version="16.1.0.37" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Xamarin.SfRotator" version="16.2.0.41" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="4.1.0.581479" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms.Maps" version="4.1.0.581479" targetFramework="portable45-net45+win8+wpa81" />
</packages>